
#mainbox
{
	width: 100%;
	height: 600px;
	margin: auto;
	background-color: antiquewhite;
	background-image: url("books.jpg");
	background-repeat: no-repeat;
	background-position-x:50%; 
}

#mainimage
{
width: 480px;
height: 265px;
margin: auto; 
display: block;
padding-top: 92.5px;
}

#forp
{
	margin: auto;
	width: 600px;
    overflow:auto; 	
    background-color: whitesmoke;
}

#mainp
{
	display: inline-block;
    font-family: sans-serif;
    font-size: 35px;
    margin-left: 110px;
}


.info
{
	text-align: center;
	width: 1000px;
	height: 600px;
	margin:auto; 
  display:block;
}

.timage
{
  padding: 20px;
}











#navbar
{
  width: 1200px;
  height: 55px;
  margin: auto;
  background-color: black;
}




ul
{
  list-style-type: none;
}

li
{
  margin-top: 10px;
}

ul li a
{
  text-decoration: none;
  color: white;
  font-size: 30px;

}

ul .nd
{
  height: 50px;
  float: left;
  margin-left:100px;
}












